*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F0F8FF;
    min-height: 100vh;
}

header{
    height: 130px;
	padding: 40px;
	position: relative;
    background-color: whitesmoke;
    
}

main{
    width: 90vw;
    margin: 0 auto;
    padding: 30px 20px;

}
footer {
    background-color: grey;
    color: #fff;
    padding: 30px 0 20px 0;
    bottom: 0;
    position: relative;
    /* padding: 10px; */
}

  ul{
      list-style: none;
      font-size: 0;
      padding: 0 20px 0 20px;
  }
  
  ul li{

    display: inline;
	padding: 10px 10px 10px 10px;
	margin: 0 8px 0 8px;

} 

  nav{
    line-height: 57px;
	position: absolute;
    margin-right: 400px;
	right: 40px;
	top: 76px;
	height: 57px;
	font-family: "Open Sans", sans-serif;    
  
}
 nav a{
    text-transform: uppercase;
	text-decoration: none;
	color: #1C1C1C;
	font-size: 19px;
}  

.header__title {
    position: absolute;
    margin-top: 15px ;
	margin-left: 15px;
	height: 130px;
	line-height: 130px;

}

.header__logo img{
    width: 80px;
    height: auto;
    position: absolute;
    margin-top: -15px;
    margin-left: 10px;
  }
  
  .header__cart img {
      width: 35px;
      height: auto;
      position: absolute;
      margin-top: 50px;
      margin-left: 1580px;
  
  }
  
  .header__user img {
      width: 35px;
      height: auto;
      position: absolute;
      margin-top: 50px;
      margin-left: 1615px;
  
  }
  
  .grid {
    display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: stretch;
  justify-items: center;


}

.grid img {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    max-width: 70%;
}

  .footer__socials {
      display: inline-block;
      width: 250px;
      height: auto;
  }
  .footer__socials img {
    width: 25px;
    margin: 10px 0px 20px 35px;
}
.footer__socials h5 {
    margin-left: 25px;
    margin-top: 25px;
}

.footer__logo img{
    text-align: center;
    width: 50px;
    height: auto;
    margin-left:50%;
    margin-bottom: 20px; 
} 
.footer__address p {
    text-align: center;
}
