/* Prueba */

@import '../scss/components/header';
@import '../scss/base/estilosGenerales';
@import '../scss/base/listas';
@import '../scss/base/variables';
@import '../scss/components/footer';
@import '../scss/components/body';

