body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F0F8FF;
    min-height: 100vh;
}

h1 {
	&:hover {
		color: gold;
	}
}
.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	align-items: stretch;
	justify-items: center;
	img {
		border: 1px solid #ccc;
		box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
		max-width: 70%;
	}
}
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
* {
	font-family: Roboto;
}
