.nav__background {
	background-color: #ffffff;
	background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}
.nav-letter-colors {
	text-decoration: none;
	color: #ffffff;
	font-size: 19px;
}
.header__logo {
	img {
		width: 5vw;
	}
}